<h1><%= @user.name.capitalize %>'s Page</h1>

<% @user.lineups.each do |lineup| %>
    <p>
    <%= lineup.name %>:
    <% lineup.players.each do |player| %>
        <%= player.name%>
    <% end %>
    </p>
<% end %>